<h2>List of Mobiles!!!</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th style="width: 100px;">Sr.No</th>
            <th style="width: 100px;">ID</th>
            <th>Model</th>
            <th>Company</th>
            <th style="width: 150px;">Price</th>
            <th>Color</th>
            <th style="width: 150px;"> Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr   *ngFor="let mobile of mobiles;let i=index">
            <td>{{i+1}}</td>
            <td>{{mobile['id']}}</td>
            <td>{{mobile['model']}}</td>
            <td>{{mobile['company']}}</td>
            <td>{{mobile['price']}}</td>
            <td>{{mobile['color']}}</td>
            <td>
                <button (click)="onEdit(mobile)" class="btn btn-success btn-sm">Edit</button>
                <button (click)="onDelete(mobile,i)" style="margin-left: 5px;" class="btn btn-danger btn-sm">Delete</button>
            </td>
        </tr>
    </tbody>
    </table>
